* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#grid-size-prompt {
  min-width: 60px;
  height: 30px;
}

.main-container {
  width: 320px;
  height: 320px;

  display: flex;
  flex-flow: row wrap;
}

.grid-cell {
  width: 20px;
  background-color: white;
  border: 0.5px solid gray;
}

.grid-cell--activated {
  background-color: black;
}
